project_name      = "apofeoz"
domain            = "example.com"
api_subdomain     = "api"
admin_subdomain   = "admin"
manage_dns        = true
region            = "ru-1"
availability_zone = ""

instance_cpu     = 1
instance_ram_mb  = 2048
instance_disk_mb = 30720

ssh_key_name      = "my-main-key"
ssh_allowed_cidr  = "203.0.113.10/32"
server_timezone   = "Europe/Moscow"
letsencrypt_email = "infra@example.com"
app_user          = "deploy"
